<div class="jumbotron" style="border:none;margin-top:30px" ng-class="{'fade-out-top': loading}">
  <div class="row">
    <p><img src="images/logo.png" height="200px"></img></p>
    <h1>JSSP Reporting Tool</h1>
    <p class="text-muted">
      Track the evolution of the JSSP Evolutionary Algorithm
    </p>
    <p>
      <div class="btn-group top-buffer-small">
        <button class="btn btn-lg btn-primary" ng-click="prepare()" style="width:150px;">Enter Now</button>
      </div>
    </p>
  </div>

  <!--div class="row top-buffer-small">
    <div class="col-md-12">
      <p>GitHub</p>
      <div class="github-card" data-github="razvanilin/mean-gen" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  </div-->
</div>

<div class="row" ng-class="loading ? 'fade-in-bottom' : 'fade-out-bottom'" style="color:#EEEEEE">
  <h2><i class="fa fa-cog fa-spin"></i></h2>
</div>
