<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/dashboard"><img src="images/logo.png" height="25px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-if="!evolutionFinished" ng-show="evolutionStarted" role="presentation"><a class="text-primary"><i class="fa fa-cog fa-spin text-primary"></i></a></li>
        <li ng-show="!evolutionStarted || evolutionFinished" role="presentation"><a>No evolution is running yet.</a></li>
        <li ng-show="evolutionStarted && !evolutionFinished" role="presentation"><a class="text-primary">An evolution is running...</a></li>
        <li ng-show="evolutionFinished" role="presentation"><a ng-click="newEvolution()" class="text-primary"><i class="fa fa-play-circle text-primary"></i> Start a new evolution</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" ng-class="{'active': viewRuns}">
          <a ng-href="#/run">Check past evolutions</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
